@model LoginApp.Models.LoginViewModel


@{ 
    ViewBag.Title = "Administracja: logowanie";

}

<div class="panel">
    <div class="panel-heading">
        <h3>Zaloguj się</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Prosze sie zalogowac aby otrzymac dostep do obszaru administracyjnego:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary();
            <div class="form-group">
                <label>Nazwa użytkonika:</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Hasło:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <input type="submit" value="Zaloguj się" class="btn btn-primary" />
        }
    </div>
</div>

